<div id="app">
	<div class="container">

		<div class="sub-container">
			<h3>Key Codes</h3>
			<input type="text" data-keycode-input />
			<button data-keycode-close-btn>Stop Results</button>
			<ul data-keycode-results>
			</ul>
		</div>

		<div class="sub-container" data-concat-container>
			<h3>Concat All</h3>
			<p>click within the box at 2 points</p>
			<ul data-concat-results>
			</ul>
		</div>

		<div class="sub-container" data-merge-container>
			<h3>Merge Map</h3>
			<p>click within the box at 2 points</p>
			<ul data-merge-results>
			</ul>
		</div>

		<div class="sub-container" data-switch-container>
			<h3>Switch Latest</h3>
			<p>click within the box at 2 points</p>
			<ul data-switch-results>
			</ul>
		</div>

	</div>
</div>
